body {
    max-width: 700px;
    margin: 0 auto;
    background: #060606 url("img/background.jpg") no-repeat center top;
    background-size: 750px 7000px;
     
}

h1,
h2,
h3 {
    font-family: 'Cormorant SC', serif, cursive;
    text-align: left;
    background-color: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(122, 4, 10);
}



h4,
h5,
h6,
h7,
p,
li {
    font-family: 'Cormorant SC', serif, cursive;
    text-align: left;
    background-color: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
}

footer {
    font-family: 'Cormorant SC', serif, cursive;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.26);
    text-decoration: none;
    list-style: none;
    color: rgb(122, 4, 10);
    border-bottom:5px solid #000000;
}

a,
abbr {
    font-family: 'Cormorant SC', serif, cursive;
    text-align: left;
    background-color: 0;
    text-decoration: none;
    list-style: none;
    color: rgb(122, 4, 10);
}

.page-wrapper {
    border: 0 20px 0 20px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto auto;
    grid-gap: 0;
    grid-template-areas: 
    "intro intro"
    "main main"
    "sidebar sidebar"

}

.intro {
    background: 0;
    grid-area: intro;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: 0;
    grid-template-areas: 
    "header summary"
    "preamble preamble"
    
}

header {

    grid-area: header;
    font-size:20px;
    border-left:5px solid #000000;
    
}

.summary {
    grid-area: summary;
}

.preamble {
    background: rgba(255, 255, 255, 0.459);
    grid-area: preamble;
}

.main {
    grid-area: main;
}

.requirements {
    background-color: rgba(255, 255, 255, 0.26);
}

.sidebar {
    background: 0;
    grid-area: sidebar;
}

.sidebar .wrapper {
    background: rgba(255, 255, 255, 0.459);
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto;
    grid-gap: 0;
    grid-template-areas: 
    "design-selection design-archives"
    "design-selection zen-resources"

}

.design-selection {
    text-align: left;
    background: 0;
    grid-area: design-selection;
}

.design-archives {
    text-align: left;
    background: 0;
    grid-area: design-archives;
}

.zen-resources {
    text-align: left;
    background: 0;
    grid-area: zen-resources;
}

@media (max-width: 540px) {

    .page-wrapper {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 0;
        grid-template-areas: 
        "intro"
        "main"
        "sidebar"
    
    }

    .intro {
        text-align: left;
        background: 0;
        grid-area: intro;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 0;
        grid-template-areas: 
        "header"
        "summary"
        "preamble"
        
    }

    .sidebar .wrapper {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: ato auto auto;
        grid-gap: 0;
        grid-template-areas: 
        "design-selection"
        "design-archives"
        "zen-resources"
    }

}